@font-face {
  font-family: proxima-nova;
  src: url(/dist/fonts/ProximaNova-Light.woff);
}
@font-face {
  font-family: proxima-novaBold;
  src: url(/dist/fonts/ProximaNova-Bold.woff);
}
@font-face {
  font-family: proxima-novaThin;
  src: url(/dist/fonts/ProximaNovaT-Thin.woff);
}

$body-color: #fefefe;

html, body {
  margin: 0;
  padding: 0;
  color: $body-color;
  font-family: proxima-nova;
}

.fixed-menu {
  position: fixed;
  bottom: 0;
  background-color: #2B2B2B;
  width: 100%;
  height: 90px;
  text-align: center;
}
.menu {
    margin: 0;
    padding: 0;
  li {
    list-style-type: none;
    float: left;
    text-align: center;
    position: relative;
    transition: all 0.3s linear;
    a {
      color: #e2e2e2;
      text-transform: uppercase;
      line-height: 17px;
      padding: 52px 0 21px;
      font-family: proxima-nova;
      font-size: 14px;
      transition: all 0.3s linear;
    }
  }
  li:after {
    content: '';
    position: absolute;
    right: -1px;
    top: 0;
    height: 90px;
    width: 1px;
    background-color: #000000;
    transition: all 0.3s linear;
  }
  li:hover:before {
    content: '';
    position: absolute;
    left: -1px;
    width: 1px;
    top: 0;
    height: 94px;
    background-color: #000000;
  }
  li:hover:after {
    height: 94px;
  }
}
.menu li:hover, .menu li:active {
  background-color: #000000;
  position: relative;
  bottom: 4px;
}
.menu li:hover a, .menu li:active a {
  padding: 19px 0 58px;
}
.logo, .menu, .social {
  float: left;
  height: 90px;
}
.logo {
  height: 90px;
  text-align: left;
  border-right: 1px solid #000000;
  img {
    padding: 19px 0 21px 39px;
    height: 100%;
    width: auto;
    margin: 0;
    display: inline-block;
  }
}
@media(min-width: 993px) {
  .toogle {
    display: none;
  }
}
.toogle {
  width: 160px;
  height: 90px;
  border-right: 2px solid #212121;
  border-left: 2px solid #212121;
  background-image: url('/dist/images/menu.svg');
  background-repeat: no-repeat;
  background-position: center;
  img {
    margin: 0 auto;
    width: 50px;
    height: 50px;
  }
  &:hover, &:active {
    background-color: #212121;
    background-image: url('/dist/images/menu_hover.svg');
  }
}
.dropup {
  display: block!important;
  position: fixed;
  bottom: 90px;
  left: 50%;
  height: auto;
  background-color: #212121;
  transform: translate(-50% 0);
  li {
    display: block;
    float: none;
    width: 160px!important;
    transition: background-color 0.3s linear;
    a {
      font-size: 14px;
      text-align: left;
      padding: 33px 0 12px 20px!important;
    }
  }
  li:after {
    content: none;
  }
  li:hover:before {
    content: none;
  }
  li:hover {
    bottom: 0;
  }
  li:last-child a {
    padding-bottom: 30px!important;
  }
}
.social {
  width: 39px;
  img {
    margin: 20px auto;
  }
}
@media (max-width: 1200px) {
  .logo img {
    padding: 20px 10px;
  }
  .menu li a {
    font-size: 12px;
  }
}
@media(max-width: 992px) {
  .menu {
    display: none;
  }
  .social {
    width: 100%!important;
    display: flex;
    justify-content: space-evenly;
    .facebook img, .linked img {
      margin: 36px auto;
    }
  }
  .toogle, .facebook, .linked {
    display: inline-block;
  }
}