// variables
$build: #3ed1fd;
$build-outer: rgba(62,209,253,.4);
$development: #e5fd3e;
$development-outer: rgba(229,253,162,.4);
$commerce: #f95c5a;
$commerce-outer: rgba(249,92,90,.4);
$buy: #e7b85b;
$buy-outer: rgba(231,184,91,.4);
$sparkle: #ffffff;
$sparkle-outer: rgba(255, 255, 255, 1);
$arrow-color: rgba(44, 44, 44, 0.8);
$border-color: rgba(255, 255, 255, 0.3);

.main-content {
  background-size: cover;
  background-position-x: 50%;
  &.home {
    background-image: url(/dist/images/home.png);
  }
  &.about_us {
    background-image: url(/dist/images/about.png);
  }
  &.project {
    background-image: url(/dist/images/project.png);
  }
}
.background-opacity {
  position: absolute;
  top:0;
  left:0;
  padding: 58px 38px 0;
}
.opacity {
  background: rgba(65,65,65,0.79);
}
.opacity-projects {
  background: rgba(65,65,65,0.4);
}
.blur {
  background-color: #353638;
}
#content {
  height: 100%;
  overflow: hidden;
}
video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
@media(max-width: 768px) {
  .background-opacity {
    padding: 0;
  }
}
@mixin for_blocks {
  position: absolute;
  width: 160px;
  height: 170px;
  color: #ffffff;
  font-size: 14px;
}

@mixin page_info {
  font-size: 14px;
  line-height: 40px;
  opacity: 0;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 4s;
  animation-name: block-content;
}

.contacts {
  @include for_blocks;
  top: 59px;
  font-family: proxima-novaBold;
  .line {
    animation-duration: 2s;
    animation-iteration-count:  1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
  }
  .line-one {
    animation-name: line-one-blocks;
  }
  .line-two {
    animation-name: line-two-blocks;
  }
  .line-three {
    animation-name: line-three-blocks;
    left:0;
  }
  .line-four {
    animation-name: line-four-blocks;
  }
  div:last-child, div:first-child {
    opacity: 0;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    animation-name: block-content;
  }
}
.phone {
  font-size: 20px;
  font-family: proxima-novaThin;
}
.contacts div:first-child {
  position: absolute;
  top: 10px;
  left: 10px;
}
.contacts div:last-child {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.blocks {
  @include for_blocks;
}
img {
  margin: 16px 15px 0;
  display: block;
}
.description-text {
  height: 84px;
  padding: 30px 9px 2px 13px;
  display: inline-block;
  line-height: 24px;
}
.site-title {
  width: 402px;
  height: 101px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all linear 3s;
  img {
    display: inline-block;
    margin: 0;
  }
}

// animations
@mixin keyframes($name, $max-size, $sparkle-size) {
  @keyframes pulse-#{$name} {
    0% {
      opacity: .75;
      transform: scale(1);
    }
    6% {
      opacity: 0.75;
      transform: scale(1);
    }
    25% {
      opacity: 0;
      transform: scale($max-size);
    }
    25.1% {
      opacity: .75;
      transform: scale(1);
    }
    31% {
      opacity: 0.75;
      transform: scale(1);
    }
    50% {
      opacity: 0;
      transform: scale($max-size);
    }
    100% {
      opacity: 0;
      transform: scale($max-size);
    }
  }
  @keyframes sparkle {
    0% {
      opacity: .75;
      transform: scale(1);
    }
    6% {
      opacity: 0.75;
      transform: scale(1);
    }
    25% {
      opacity: 0;
      transform: scale($sparkle-size);
    }
    25.1% {
      opacity: .75;
      transform: scale(1);
    }
    31% {
      opacity: 0.75;
      transform: scale(1);
    }
    50% {
      opacity: 0;
      transform: scale($sparkle-size);
    }
    100% {
      opacity: 0;
      transform: scale($sparkle-size);
    }
  }
}

@include keyframes('2-5', 2.5, 2);

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 50%;
  z-index: 10;

  > span {
    animation: pulse-2-5 4s linear infinite;
    border-radius: 50%;
    display: block;
    height: 8px;
    width: 8px;
    > span {
      animation: pulse-2-5 4s linear infinite;
      border-radius: 50%;
      display: block;
      height: 8px;
      width: 8px;
      &:after {
        animation: pulse-2-5 4s linear infinite;
        border-radius: 50%;
        content: '';
        display: block;
        height: 8px;
        width: 8px;
      }
    }
  }

  &.build {
    animation-delay: 2s;
    background-color: $sparkle;
    span {
      animation-delay: 2s;
      background-color: $sparkle-outer;
      &:after {
        animation-delay: 2s;
        background-color: $sparkle-outer;
      }
    }
  }
  &.development {
    animation-delay: 3s;
    background-color: $sparkle;
    span {
      animation-delay: 3s;
      background-color: $sparkle;
      &:after {
        animation-delay: 3s;
        background-color: $sparkle-outer;
      }
    }
  }
  &.commerce {
    animation-delay: 1s;
    background-color: $sparkle;
    span {
      animation-delay: 1s;
      background-color: $sparkle-outer;
      &:after {
        animation-delay: 1s;
        background-color: $sparkle-outer;
      }
    }
  }
  &.buy {
    background-color: $sparkle;
    span {
      background-color: $sparkle-outer;
      &:after {
        background-color: $sparkle-outer;
      }
    }
  }
  &.sparkle {
    animation: sparkle 4s linear infinite;
    background-color: $sparkle;
    span {
      animation: sparkle 4s linear infinite;
      background-color: $sparkle-outer;
      &:after {
        animation: sparkle 4s linear infinite;
        background-color: $sparkle-outer;
      }
    }
  }
}
.advantages-wrapper {
  position: absolute;
  width: 720px;
  height: 85px;
}
.advantages {
  position: absolute;
  font-size: 12px;
  color: #fffefe;
  width: 640px;
  height: 85px;
  overflow: hidden;
}
.adv_main {
  width: 81px;
  height: 85px;
  float: right;
  text-transform: uppercase;
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 12px;
  color: #fffefe;
  position: fixed;
}
.adv_main {
  .line {
    animation-duration: 2s;
    animation-iteration-count:  1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
  }
  .line-one {
    animation-name: line-one-adv;
  }
  .line-two {
    animation-name: line-two-adv;
  }
  .line-three {
    animation-name: line-three-adv;
    left:0;
  }
  .line-four {
    animation-name: line-four-adv;
  }
  span {
    opacity: 0;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    animation-name: block-content;
  }
}
.advantages-description {
  float: right;
  margin-right: 1px;
  position: absolute;
  width: 640px;
  transition: all 0.4s linear;
}
.adv_item {
  width: 158px;
  border: 1px solid $border-color;
  height: 85px;
  display: inline-flex;
  align-items: flex-end;
  float:right;
  border-right: none;
  padding: 5px 40px 8px 5px;
  line-height: 14px;
}
.dot:hover, .adv_main:hover {
  cursor: pointer;
}

@media (max-width: 992px) {
  .advantages, .adv_main {
    display: none;
  }
  .logo {
    display: none;
  }
}
@media(max-width: 768px) {
  .main-content {
    padding: 0;
  }
  .blocks img {
    display: none;
  }
  .description-text {
    padding: 15px;
    font-size: 16px;
    display: inline-flex;
    align-items: flex-end;
  }
  .site-title {
    top: 30%;
    height: 70px;
    width: 270px;
  }
  .contacts {
    top: 1px;
    width: 318px;
    height: 85px;
    div {
      display: inline-block;
    }
    div:last-child {
      top: 10px;
      right: 10px;
      left: auto;
    }
    img {
      height: 70px;
      padding-right: 20px;
    }
  }
  .blocks {
    width: 318px;
  }
}

.block-content {
  opacity: 0;
  animation-duration: 2s;
  animation-iteration-count:  1;
  animation-fill-mode: forwards;
}

.line {
  opacity: 1;
  height: 1px;
  background: $border-color;
  position: absolute;
  animation-duration: 2s;
  animation-iteration-count:  1;
  animation-fill-mode: forwards;
  top: 0px;
  width: 0;
}
@mixin animations($name, $width, $height, $bottom) {
  @keyframes block-content {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes block-content-r {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes line-one-#{$name} {
    0% {
      left: 1px;
      width: 0;
    }
    50% {
      width: $width;
    }
    100% {
      width: $width;
      left: 1px;
    }
  }
  @keyframes line-one-r-#{$name} {
    0% {
      width: $width;
      left: 1px;
    }
    50% {
      width: $width;
    }
    100% {
      width: 0px;
      left: 1px;
    }
  }
  @keyframes line-two-#{$name} {
    0% {
      width: 1px;
      right: 0px;
    }
    50% {
      height: 0;
    }
    100% {
      height: $height;
      width: 1px;
      right: 0px;
    }
  }
  @keyframes line-two-r-#{$name} {
    0% {
      height: $height;
      width: 1px;
      right: 0px;
    }
    50% {
      height: 0;
    }
    100% {
      width: 1px;
      right: 0px;
    }
  }
  @keyframes line-three-#{$name} {
    0% {
      width: 1px;
      height: 0;
    }
    50% {
      height: $height;
    }
    100% {
      height: $height;
      width: 1px;
    }
  }
  @keyframes line-three-r-#{$name} {
    0% {
      height: $height;
      width: 1px;
    }
    50% {
      height: $height;
    }
    100% {
      width: 1px;
      height: 0;
    }
  }
  @keyframes line-four-#{$name} {
    0% {
      width: 0px;
      top: $bottom;
      left: 1px;
    }
    50% {
      width: 0px;
    }
    100% {
      width: $width;
      top: $bottom;
      left: 1px;
    }
  }
  @keyframes line-four-r-#{$name} {
    0% {
      width: $width;
      top: $bottom;
      left: 1px;
    }
    50% {
      width: 0px;
    }
    100% {
      width: 0px;
      top: $bottom;
      left: 1px;
    }
  }
}
@include animations('blocks', 158px, 170px, 169px);
@include animations('adv', 79px, 84px, 84px);
@media(max-width: 768px) {
  @include animations('blocks', 316px, 85px, 85px);
}

//ABOUT

.adv_about {
  .adv_item {
    display: block;
    line-height: 12px;
    span {
      display: block;
      font-size: 34px;
      line-height: 38px;
    }
  }
}
.page_info {
  position: absolute;
  .line {
    animation-duration: 2s;
    animation-iteration-count:  1;
    animation-fill-mode: forwards;
    animation-delay: 2s;
  }
  .line-one {
    animation-name: line-one-about;
  }
  .line-two {
    animation-name: line-two-about;
  }
  .line-three {
    animation-name: line-three-about;
    left:0;
  }
  .line-four {
    animation-name: line-four-about;
  }
}
@include animations('about', 100%, 100%, 100%);
.about-content {
  @include page_info;
  overflow: hidden;
  overflow-y: auto;
  padding: 29px 25px 0;
  height: 100%;
  &::-webkit-scrollbar {
    border-radius: 5px;
    width: 3px
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #979797;
    width:1px;
  }
  &::-webkit-scrollbar-thumb {
    background: #D8D8D8;
    border-radius: 10px;
  }
}
.about-header {
  font-size: 34px;
}

//PROJECT

.adv_project {
  .adv_main {
    span {
      margin: 0 0 5px 10px;
    }
  }
  .adv_item {
    span {
      display: block;
      font-size: 24px;
      line-height: 24px;
    }
  }
}
.navigation {
  position: absolute;
  width: 81px;
  height: 85px;
  border: 1px solid $border-color;
  transition: all linear 0.3s;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
}
.project-navigation {
  position: absolute;
  height: 85px;
  display: flex;
  align-items: center;
  .project-name {
    display: inline-block;
    font-size: 14px;
    margin-left: 20px;
    .name {
      font-size: 36px;
      display: block;
      line-height: 40px;
    }
  }
}
.project-info {
  position: absolute;
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 76px;
  border-right: 1px solid #979797;
  font-family: proxima-nova;
  font-size: 14px;
  &::-webkit-scrollbar {
    border-radius: 5px;
    width: 3px
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #979797;
    width:1px;
  }
  &::-webkit-scrollbar-thumb {
    background: #D8D8D8;
    border-radius: 10px;
  }
}
.fa {
  font-size: 36px;
  line-height: 84px;
}
.next {
  right:0;
}
.prev {
  position: static;
}
.close {
  width: 80px;
  z-index: 10;
  span {
    font-size: 36px;
    line-height: 84px;
  }
}
.project-navigation {
  .next:hover, .prev:hover {
    background-color: rgba(33, 33, 33, 1);;
    border-radius: 4px;
    border: 1px solid transparent;
  }
}
.close:hover {
  background-color: #212121;
  border-radius: 4px;
  border: 1px solid transparent;
}
@media (max-width: 1380px) {
  .project-info {
    padding-top: 5px;
  }
}
@media (max-width: 768px) {
  .project-info {
    padding-right: 0;
  }
}
@media (max-width: 417px) {
  .close {
    width: 30px;
    height: 30px;
    background-color: rgba(33, 33, 33, 0.3);
    span {
      font-size: 16px;
      line-height: 28px;
    }
  }
}

//PROJECTS

.adv_projects {
  .adv_main {
    position: absolute;
    span {
      margin: 0 0 5px 10px;
    }
  }
  .adv_item {
    span {
      display: block;
      font-size: 24px;
      line-height: 24px;
    }
  }
}
.slider-info {
  position: absolute;
}
.go-to {
  display: inline-block;
  width: 79px;
  height: 85px;
  background-color: #212121;
  text-align: center;
  line-height: 84px;
}
.go-to.prev {
  float: left;
}
.more {
  line-height: 18px;
  padding: 26px 0;
  font-size: 13px;
}
.slider-title {
  display: inline-block;
  height: 85px;
  background-color: #2c2c2c;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  line-height: 36px;
  padding: 25px 0;
  font-family: proxima-nova;
  float: left;
}
.slider-address {
  height: 85px;
  background-color: $arrow-color;
  font-size: 14px;
  line-height: 19px;
  padding: 25px 5px 25px 28px;
}
.slider-address, .more {
  float: left;
}
.slick-dots {
  position: absolute;
  margin: 0;
  border: 1px solid $border-color;
  height: 85px;
  width: auto;
  z-index: 20;
  list-style: none;
  li {
    float: left;
    width: 79px;
    height: 100%;
    border-right: 1px solid $border-color;
    background-color: rgba(44, 44, 44, 0.4);
    transition: all 0.4s linear;
    img {
      margin: 0 auto;
    }
    button {
      background-image: url(/dist/images/item_white.svg);
      width: 80px;
      height: 84px;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      font-size: 0;
    }
    button:hover {
      background-image: url(/dist/images/item.svg);
    }
  }
  li:last-child {
    border-right: none;
  }
  li:hover {
    background-color: #ffffff;
  }
  .slick-active {
    background-color: #ffffff;
    button {
      background-image: url(/dist/images/item.svg);
    }
  }
}
@media(max-width: 768px) {
  .slider-address {
    font-size: 13px;
    padding: 20px 5px 25px 20px;
  }
}

//VACANCIES

.vacancies-list {
  @include page_info;
  position: absolute;
  right: 0;
  top: 0;
  width: 160px;
  height: 100%;
  border-left: 1px solid $border-color!important;
  margin: 0;
  list-style-type: none;
  .list-item {
    float: left;
    width: 100%;
    border-bottom: 1px solid $border-color;
    text-align: center;
    position: relative;
    a {
      color: $body-color;
      font-size: 16px;
      line-height: 20px;
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 15px;
    }
  }
  .list-item:last-child {
    border-bottom: none;
  }
}
.vacancies-content {
  @include page_info;
  height: 100%;
  padding: 6px 30px 10px 52px;
  overflow: hidden;
}
@media(max-width: 1200px ) {
  .vacancies-content {
    padding: 6px 10px 10px 30px;
  }
  .slider-title {
    font-size: 30px!important;
    line-height: 30px;
    padding: 29px 0;
  }
  .project-name .name {
    font-size: 30px!important;
    line-height: 30px;
  }
}
@media(max-width: 992px ) {
  .slider-title, .project-name .name {
    font-size: 24px!important;
    line-height: 24px;
  }
  .slider-title {
    padding: 32px 0;
  }
  .vacancies-content {
    padding-left: 20px;
  }
}
@media(max-width: 768px ) {
  .slider-title, .project-name .name {
    font-size: 17px!important;
    line-height: 17px;
  }
  .slider-title {
    padding: 34px 0;
  }
  .vacancies-content {
    padding: 6px 5px 10px 10px;
  }
  .about-header {
    font-size: 26px;
  }
  .project-name {
    font-size: 13px!important;
    margin-left: 10px!important;
  }
}
@media(max-width: 417px) {
  .vacancies-list {
    width: 120px;
  }
}

//SLICK SLIDER
.slick-slider {
  margin-bottom: 40px;
}
.slick-slide img {
  margin: 0;
}
.slick-arrow {
  position: absolute;
  width: 80px;
  height: 85px;
  background-color: $arrow-color;
  top: 50%;
  text-align: center;
  transform: translate(0, -50%);
  opacity: 0;
}
.fa-arrow-left.slick-arrow {
  left: 0;
  z-index: 2;
  border-radius: 0 5px 5px 0;
}
.fa-arrow-right.slick-arrow {
  right: 0;
  border-radius: 5px 0 0 5px;
}
.projects-slider {
  position: absolute;
  overflow: hidden;
  font-family: proxima-nova;
  font-size: 14px;
  top: 0;
  left: 0;
  right: 0;
}
.slider-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
#network {
  position: relative;
  //z-index: 10;
}
.slide-item {
  background-image: url(/dist/images/project.png);
  background-size: cover;
  background-position-x: 50%;
  position: relative;
}
@media(max-width: 992px ) {
  .slick-arrow {
    width: 40px;
    height: 42px;
    font-size: 24px;
    line-height: 42px;
  }
}